

.card-image {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: -10px;
    display: block;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    position: absolute;
    bottom: 10px;
    left:  10px;
    background-color: rgba(0, 0, 0, 0.705);
    font-size: smaller;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.fecha {
    font-size: x-small;
    color: var(--texto);
}

.titular {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:medium;
    padding: 5px 0px;
}

.noticia {
    font-size: small;
    color: var(--texto);
    line-height: 1.6;
}