

.form-container {
    display: flex;
    flex-direction: column;
}

label{
    padding: 5px 0px;
    font-size: small;
    font-weight: 600;
}

 input, textarea {
    padding: 5px;
    border: 1px solid var(--borde);
    border-radius: 5px;
    margin-bottom: 10px;
 }

 .btn-blue {
    padding: 10px;
    background-color: var(--azul);
    border: 1px solid var(--azul);
    box-shadow: 5px 5px 5px var(--borde) ;
    border-radius: 10px;
    color: white;
    font-size: medium;
    margin-top: 30px;
    cursor: pointer;
 }

 .btn-blue:hover {
    background-color: rgb(30, 100, 230);
    box-shadow: none;
    color: rgb(200 200 200);
 }