<h2>Nueva Noticia</h2>
<div>
    <label for="titulo">Título</label>
    <input type="text" id="titulo" [(ngModel)]="newPost.titulo">
</div>
<div>
    <label for="noticia">Noticia</label>
    <input type="text" id="noticia" [(ngModel)]="newPost.noticia">
</div>
<div>
    <label for="imagen">URL de Imagen</label>
    <input type="text" id="imagen" [(ngModel)]="newPost.imagen">
</div>
<div>
    <label for="caption">Pie de imagen</label>
    <input type="text" id="caption" [(ngModel)]="newPost.caption">
</div>
<button (click)="publicarNoticia()">Publicar</button>