.form-container {
    display: flex;
    flex-direction: column;
}

label{
    padding: 5px 0px;
}
 input {
    padding: 5px;
    border: 1px solid var(--borde);
    border-radius: 5px;
 }

 .btn-blue {
    padding: 10px;
    background-color: var(--azul);
    border: 1px solid var(--azul);
    border-radius: 10px;
    color: white;
    font-size: medium;
 }