.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:60px;
    margin:30px;
    background-color: var(--fondo);
    min-height: 100vh;
}

header {
    background-color: white;
    padding: 10px 40px;
    border-bottom: 1px solid var(--borde);
}

.logo {
    width: 150px;
    height: auto;
    img {
        width: 100%;
    }
}



footer {
    background-color: white;
    padding: 20px 30px;
    border-top: 1px solid var(--borde);
    position: sticky;
    bottom: 0;
    text-align: center;
}

app-editor {
    width: 30%;
    margin-top: 10px;
    width: 300px;
}

app-blog {
    width: 70%;
}