/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --fondo: rgb(250,250,251);
    --borde: rgb(235, 237, 239);
    --azul: rgb(20, 71, 230);
}

.card {
    padding: 10px;
    border: 1px solid var(--borde);
    border-radius: 15px;
    box-shadow: 5px 5px 15px var(--borde);
    background-color: white;
    overflow: hidden;;
}
