/* El maquetado realizado es responsive sin necesidad de mediaquerys */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --fondo: rgb(250,250,251);
    --borde: rgb(189, 190, 190);
    --azul: rgb(20, 71, 230);
    --texto: rgb(100, 100, 100);
}

body {
    background-color: var(--fondo);
}

.card {
    padding: 10px;
    border: 1px solid var(--borde);
    border-radius: 15px;
    box-shadow: 5px 5px 5px var(--borde) ;
    background-color: white;
    overflow: hidden;
    align-items: center;
}

.titulo {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 5px;
   border-bottom: 1px solid var(--borde);
   padding: 10px 0px;
   .icon-container {
      width: 24px;
   }
   h1, h2 {
   color: var(--azul);
   font-size: x-large;
   }
   .icon {
      width: 100%;
   }
}