
section {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    border: 1px solid grey;
    border-radius: 15px;
}

.noticia {
    display: felx;    
}